body {
  background-color: #e6f5ff !important;
}

h2 {
  text-align: center;
}

h5 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.quiz-card {
  width: 30rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding: 10px;

  height: 100%;
}

.card-img-top {
  object-fit: contain;
  max-height: 25vh;
}

.question-footer {
  display: flex;
  justify-content: space-between;

  padding-top: 16px;

  border-top: 2px solid rgba(0, 0, 0, 0.4);
}

.card01:hover {
  background-color: rgb(34, 0, 255, 0.05);
  cursor: pointer;
}

.bg-success,
.bg-danger {
  color: #fff !important;
}

.progress {
  margin: 16px 0;
}

#end-screen {
  padding: 32px;
}

@media (max-height: 680px) {
  .card-img-top {
    display: none;
  }
}
